// colors
$blue: #6cb6ff;
$orange: #f69d50;
$red: #f47067;
$green: #8ddb8c;
$purple: #dcbdfb;

$black: #22272e;
$gray: #444c56;
$lightGray: #adbac7;

// fonts
$bodyFont: 'Source Sans Pro', sans-serif;

// other
$ease-out: cubic-bezier(0.19, 1, 0.12, 1);
$ease-out-extreme: cubic-bezier(0.15,0.9,0.15,1);
$ease-in-out: cubic-bezier(0.77, 0, 0.175, 1);